.logo-link {
    padding: 0 !important;
    margin: 0 !important;
}

.logo-link-img {
    width: 153.23px !important;
    height: 64px !important;
    padding: 0 !important;
    margin: 0 !important;
}
